@model string
@{
    ViewBag.Title = "OrderInfo";
}

<div class="jumbotron">
    <h1 class="display-4">Order Completed.</h1>
    <p class="lead">Your order information <strong>@Model</strong> sent to your email address.</p>
    <hr class="my-4">
    <a class="btn btn-info btn-lg" href="/Home/Index" role="button">Home</a>
</div>

