@model List<Product>
@{
    ViewBag.Title = "List";
}

<div class="table-responsive-lg">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Brand</th>
                <th>Product Name</th>
                <th>Stock</th>
                <th>In Sales</th>
                <th style="width:94px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <img src="@(product.Images.FirstOrDefault(i=>i.IsDeleted==false)!=null?product.Images.FirstOrDefault(i=>i.IsDeleted==false).ImageUrl:"/Content/Images/None.jpg")" width="70" />
                    </td>
                    <td style="text-transform:capitalize;">
                        @Html.DisplayFor(modelItem => product.Brand)
                    </td>
                    <td style="text-transform:capitalize;">
                        <a target="_blank" href="/Home/Detail/@product.Id">@product.Name</a>
                    </td>
                    <td class="text-center">
                        @if (product.Stock > 0)
                        {
                            <label class="badge badge-info">

                                @product.Stock
                            </label>
                        }
                        else
                        {
                            <label class="badge badge-danger">
                                <i class="fas fa-times"></i>
                            </label>
                        }

                    </td>
                    <td class="text-center">
                        @if (product.Insales)
                        {
                            <label class="badge badge-success">
                                <i class="fas fa-check"></i>
                            </label>

                        }
                        else
                        {
                            <label class="badge badge-danger">
                                <i class="fas fa-times"></i>
                            </label>

                        }
                    </td>
                    <td>
                        <a href="/Admin/Product/AddOrUpdate/@product.Id" class="btn btn-primary btn-sm"><i class='far fa-edit'></i></a>
                        <a href="/Admin/Product/Delete/@product.Id" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>