@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAccess</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class=" container mt-3">
        <div class=" row">
            <div class=" col">
                <center>
                    <div class="card">
                        <h2 style="color:red;">Access Denied!</h2>
                        <h2>You do not have permission to access this page.</h2>
                        <a class=" btn btn-secondary btn-lg" href="/">MainPage</a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Js/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Js/popper.min.js"></script>
    <script src="~/Scripts/Js/bootstrap.min.js"></script>
</body>
</html>