@model string
@{
    ViewBag.Title = "RegisterInfo";
}

<div class="jumbotron">
    <h1 class="display-4">Check your email.</h1>
    <p class="lead">@Model your email address sent to confirmatin link.Confirmation of your account,for you can login,check your email...</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/Account/Login" role="button">Login</a>
</div>

